#welcome{
    border-radius: 20px;
    padding: 10px; 10px; 10px; 10px;
    color: red;
    background-color: blue;
    line-height: 100px;
    display: inline-block;
}
#Course{
    display: inline-block;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
}
#DSTopics{
    background-color: blueviolet;
    display: inline-block;
}