div{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    background-color: blue;
    opacity: 0.4;
    transition: margin-top 5s ease-in-out;
}
div:hover{
    background-color: red;
    margin-top: 500px;
    border-radius: 50%;
}